*.in
*.status
COPYING
INSTALL
Makefile
*.cache
*.guess
config.h
*~
configure
depcomp
install-sh
libtool
ltmain.sh
missing
*gem
*bundle
*.o
*.log
*.sub
.deps
.libs
*.la
*.lo
stamp-h1
mpusb/mpusb
aclocal.m4
*.m4
